# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Виртуальные среды
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Статика (собранная командой collectstatic)
staticfiles/
static_root/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Тесты и покрытие
.coverage
htmlcov/
.pytest_cache/

# Миграционные кэши
orm_abc_app/migrations/__pycache__/
